<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-if mode</title>
    <script src="js/vue.js"></script>
    <script src="js/jquery.min.js"></script>
</head>

<body>
    <!--<div id="app">
        <p>{{message}}</p>
        <input type="text" v-model="message">
    </div>
    <div>
        <input type="button" value="change" id="btn">
    </div>-->
    <div id="app">
        <p>{{num}}</p>
        <p v-if="num>0.5?true:false" style="background-color:red;">大于0.5</p>
        <p v-if="num>0.5?false:true" style="background-color:blue;">小于0.5</p>
    </div>
    <script>
        // var app = new Vue({
        //     el: '#app', //作用域
        //     data: {
        //         message: "hello Eric"
        //     } //数据中心
        // });
        // $(function() {
        //     $("#btn").on('click', function() {
        //         app.message = "改变了";
        //     })
        // })
        var app = new Vue({
            el: '#app',
            data: {
                num: Math.random()
            }
        });
    </script>
</body>

</html>